# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/

# Environments
.env
venv/
ENV/
env/
.venv/
# Include any other environment folders you might use

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django static files
staticfiles/
static/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# VSCode
.vscode/

# macOS
.DS_Store

# Others
*.bak
*.swp
